manifest {
    name = 'genomic-data-engineering'
    author = 'Xiaomei Mi'
    version = '0.1.0'
    nextflowVersion = '>=26.04.0'
}

process {
    errorStrategy = 'terminate'
    maxRetries = 0
    cpus = 2
    memory = '4 GB'
    time = '30m'
}

profiles {
    local {
        process.executor = 'local'
    }
    ci {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '4 GB'
    }
}
