manifest {
    name = 'genomic-data-engineering'
    author = 'Xiaomei Mi'
    version = '0.4.1'
    nextflowVersion = '>=26.04.0'
}

params {
    source_url = 'https://raw.githubusercontent.com/RTIInternational/GAWMerge/ce6ad1c1af42bfa501b5e122b747f54c6644e2e9/test_data/ALL.chr22.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.N100.vcf.gz'
    delivery_manifest = 'config/delivery_manifest.json'
    required_reference_genome = 'GRCh37'
    geno = 0.02
    maf = 0.01
    hwe = '1e-6'
    outdir = 'results'
}

process {
    errorStrategy = 'terminate'
    maxRetries = 0
    cpus = 2
    memory = '4 GB'
    time = '30m'
}

profiles {
    local {
        process.executor = 'local'
    }
    ci {
        process.executor = 'local'
        process.cpus = 2
        process.memory = '4 GB'
    }
}
